<ion-header>
  <ion-toolbar style="padding-top: 0px;">
    <ion-title>กรอกความต้องการ</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="addReq">
  <ion-grid>

    <ion-button shape="round" class="center" (click)="onCheck()">ยืนยันความต้องการ</ion-button>

    <ion-item>
      <ion-label>ประเภทอสังหาริมทรัพย์</ion-label>
      <ion-select [(ngModel)]="Type_id" formControlName="Type_id">
        <ion-select-option [value]="row.type_id" *ngFor="let row of types">{{row.type_name}}</ion-select-option>

      </ion-select>
    </ion-item>





    <ion-item>
      <ion-label>ภูมิภาค</ion-label>
      <ion-select [(ngModel)]="zone_id" (ngModelChange)="onProvince($event)" formControlName="Zone_id">
        <ion-select-option [value]="z.zone_id" *ngFor="let z of zones">{{z.zone_name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>จังหวัด</ion-label>
      <ion-select [(ngModel)]="province_id" (ngModelChange)="onLocation($event)" formControlName="Province_id">
        <ion-select-option [value]="p.province_id" *ngFor="let p of provins">{{p.provin_name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>เขต/อำเภอ</ion-label>
      <ion-select [(ngModel)]="location_id" formControlName="Location_id">
        <ion-select-option [value]="p.location_id" *ngFor="let p of district">{{p.loc_name}}</ion-select-option>
      </ion-select>
    </ion-item>

 
    <ion-title size="small">ราคา</ion-title>
    <ion-item>
      <ion-range dualKnobs="true" color="danger" debounce="200" pin="false" min="0" max="10000000"
        [(ngModel)]="rangePrice" formControlName="rangePrice">
        <ion-label slot="start">{{rangePrice.lower}}</ion-label>
        <ion-label slot="end">{{rangePrice.upper}}</ion-label>
      </ion-range>


    </ion-item>



    <ion-title size="small">ขนาดพื้นที่</ion-title>
    <ion-item>
      <ion-range dualKnobs="true" color="danger" debounce="200" pin="false" min="0" max="500" [(ngModel)]="rangeArea"
        formControlName="rangeArea">
        <ion-label slot="start">{{rangeArea.lower}}</ion-label>
        <ion-label slot="end">{{rangeArea.upper}}</ion-label>
      </ion-range>
    </ion-item>





    



  </ion-grid>


</ion-content>