<ion-header>
  <ion-toolbar>
    <ion-title>แผนที่ตั้ง</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <agm-map [zoom]="15" [style.height.px]="height" [latitude]="latitude" [longitude]="longtitude">
    <!-- หน้าเริ่ม -->
    <agm-marker [latitude]="latitude" [longitude]="longtitude">
      <!-- มาค์ก -->


    </agm-marker>

  </agm-map>
</ion-content>