<ion-header>
  <ion-toolbar style="padding-top: 0px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start" class="center">
      <img src="data:image/jpg;base64,{{profile_pic}}">
    </ion-avatar>
    <ion-title style="font-size: medium;">{{fname}} {{lname}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list no-lines *ngFor="let msg of chat">
    <div class="innermsg left" *ngIf="msg.source != My">
      {{ msg.mes_text }}
    </div>

    <div class="innermsg right" *ngIf="msg.source == My">
      {{ msg.mes_text }}
    </div>
  </ion-list>


</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-input type="text" [formControl]="taxtChat" [(ngModel)]="textchat" placeholder="พิมพ์ข้อความ"
          name="message" (keyup.enter)="postTaxtChat(textchat)">
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-button (click)="postTaxtChat(textchat)">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>







    </ion-row>

  </ion-grid>
</ion-footer>